/* WorkSections.css */

@import './common.css';
@import './colors.css';

/* WorkSections.css */

.work-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  .section-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .work-section-button {
    margin: 5px 10px;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 10px;
    border: 0.5px solid rgba(100, 100, 100, 0.469);
    background-color: transparent;
    color: white;
    filter: drop-shadow(0 0 10px white);
    transition: background-color 0.3s ease, color 0.3s ease, text-shadow 0.3s ease, box-shadow 0.3s ease;
    font-size: 16px;
  }

  .work-section-button:hover {
    background-color: rgba(145, 145, 145, 0.075);
    color: white;
    text-shadow: 0 0 15px rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.114);
  }
  .work-section-button.active {
    background-color: white;
    color: #000;
    box-shadow: 0 0 5px white;
  }
  
  @media (max-width: 768px) {
    .work-section-button {
      margin: 5px 0px;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
      border: 0.5px solid rgba(100, 100, 100, 0.469);
      background-color: transparent;
      color: white;
      filter: drop-shadow(0 0 10px white);
      transition: background-color 0.3s ease, color 0.3s ease, text-shadow 0.3s ease, box-shadow 0.3s ease;
      font-size: 10px;
    }

    .section-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
  }