/* colors.css */
:root {
  /* General colors */
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #ffffff;
  --text-color: #b7a0a0;

  /* App specific colors */
  --app-header-bg: #282c34;
  --app-header-text: #ffffff;
  --app-link: #61dafb;

  /* Navbar colors */
  --navbar-bg: #323030;
  --navbar-text: #ffffff;
  --navbar-link-hover: #277fddd3;

  /* Footer colors */
  --footer-bg: #000000;
  --footer-text: #ffffff;

  /* Introduction colors */
  --introduction-bg: #625c5c;
  --introduction-text: #c9baba;

  /* Timeline colors */
  --timeline-bg: #ffffff;
}
