@import './common.css';

/* src/Navbar.css */
.navbar {
    width: 100%;
    padding: 20px;
    background-color: #333;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-links {
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-links a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .navbar-links a:hover {
    color: #007bff;
  }
  