@import './common.css';
@import './colors.css';

.timeline-section {
    position: relative;
    height: 300vh; 
    background-color: var(--timeline-bg);
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .timeline-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
  }
  
  .timeline-svg {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
  }  