/* Import common styles */
@import './common.css';

/* src/Timeline.css */
.timeline-section {
    position: relative;
    height: 300vh; /* Adjust this based on how long you want the timeline */
    background-color: #ffffff;
    padding-top: 50px;
    display: flex;
    justify-content: center; /* Center the container horizontally */
    align-items: center;
  }
  
  .timeline-container {
    display: flex;
    justify-content: center; /* Center the SVG within the container */
    width: 100%; /* Ensure the container spans the full width */
    max-width: 600px; /* Set a maximum width for the container */
  }
  
  .timeline-svg {
    display: block;
    width: 100%; /* Make the width of the SVG dynamic and responsive */
    height: auto; /* Allow the height to adjust automatically */
    max-width: 100%; /* Ensure the*/
  }  