@import '../common.css';
@import '../colors.css';

/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* OUTER-CONTENT-CLASS*/
.outer-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.outer-content-blogs{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
}
.outer-content-research{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
}
.outer-content-internships{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
}
.outer-content-project{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
}
.outer-content-certfications{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
}
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* TITLE*/
.content-page-title-base{
    display: flex;
    justify-content: center;
    font-size: 13px;
    background-color: transparent;
    padding: 2px;
    color: white;
    text-shadow: 0 0 5px white;
}
.content-page-title-blogs{
    display: flex;
    justify-content: center;
    font-size: 13px;
    background-color: transparent;
    padding: 2px;
    color: white;
    text-shadow: 0 0 5px white;
}
.content-page-title-research{
    display: flex;
    justify-content: center;
    font-size: 13px;
    background-color: transparent;
    padding: 2px;
    color: white;
    text-shadow: 0 0 5px white;
}
.content-page-title-internships{
    display: flex;
    justify-content: center;
    font-size: 13px;
    background-color: transparent;
    padding: 2px;
    color: white;
    text-shadow: 0 0 5px white;
}
.content-page-title-project{
    display: flex;
    justify-content: center;
    font-size: 13px;
    background-color: transparent;
    padding: 2px;
    color: white;
    text-shadow: 0 0 5px white;
}
.content-page-title-certfications{
    display: flex;
    justify-content: center;
    font-size: 13px;
    background-color: transparent;
    padding: 2px;
    color: white;
    text-shadow: 0 0 5px white;
}
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* CONTENT-CONTENT*/
.content-page-content-base{
    font-size: 7px;
    background-color: transparent;
    padding: 3px;
    border-right: 1px solid rgba(146, 146, 146, 0.837);
    margin-right: 4px;
    color: rgba(255, 255, 255, 0.766);
}
.content-page-content-blogs{
    font-size: 7px;
    background-color: transparent;
    padding: 3px;
    border-right: 1px solid rgba(146, 146, 146, 0.837);
    margin-right: 4px;
    color: rgba(255, 255, 255, 0.766);
}
.content-page-content-research{
    font-size: 7px;
    background-color: transparent;
    padding: 3px;
    border-right: 1px solid rgba(146, 146, 146, 0.837);
    margin-right: 4px;
    color: rgba(255, 255, 255, 0.766);
}
.content-page-content-internships{
    font-size: 7px;
    background-color: transparent;
    padding: 3px;
    border-right: 1px solid rgba(146, 146, 146, 0.837);
    margin-right: 4px;
    color: rgba(255, 255, 255, 0.766);
}
.content-page-content-project{
    font-size: 7px;
    background-color: transparent;
    padding: 3px;
    border-right: 1px solid rgba(146, 146, 146, 0.837);
    margin-right: 4px;
    color: rgba(255, 255, 255, 0.766);
}
.content-page-content-certfications{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6px;
    flex-wrap: wrap;
    font-style: italic;
    background-color: transparent;
    text-shadow: 0 0 5px white;
    padding-top: 3px;
    color: rgba(255, 255, 255, 0.766);
}
.content-page-n-content-certfications{
    font-size: 7px;
    background-color: transparent;
    padding-top: 3px;
    color: rgba(255, 255, 255, 0.788);
}
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* CONTENT-IMAGE */
.content-image-base{
    background-color: blue;    
}
.content-image-blogs{
    background-color: blue;    
}
.content-image-research{
    background-color: blue;    
}
.content-image-internships{
    background-color: blue;    
}
.content-image-project{
    background-color: blue;    
}  
.content-image-certfications{
height: 140px;
border-radius: 3px;
}

/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* CONTENT-VIDEO */
.content-page-video-base{
background-color: white;
}
.content-page-video-blogs{
background-color: white;
}
.content-page-video-research{
background-color: white;
}
.content-page-video-internships{
background-color: white;
}    
.content-page-video-project{
background-color: white;
}
.content-page-video-certfications{
background-color: white;
}
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
/* CONTENT-LINK*/
.link-icon{
    width: 10px;
    height: 10px;
    filter: brightness(0) invert(1); 
    transition: opacity 0.35s ease;
    opacity: 0.5;
}
.link-icon:hover{
    opacity: 1;
    filter: brightness(0) invert(1) drop-shadow(0 0 5px white); 


}
.content-page-link-base{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    height: 7%;
    padding: 3px;
    padding-right: 10px;
    font-size: 8px;
    background-color: rgba(255, 0, 0, 0.327);
}

.content-page-link-blogs{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    height: 9%;
    padding: 3px;
    padding-right: 10px;
    font-size: 8px;
    background-color: rgba(255, 161, 161, 0.177);
}
.content-page-link-research{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    height: 7%;
    padding: 3px;
    padding-right: 10px;
    font-size: 8px;
    background-color: red;
}
.content-page-link-internships{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    height: 7%;
    padding: 3px;
    padding-right: 10px;
    font-size: 8px;
    background-color: red;
}
.content-page-link-project{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    height: 7%;
    padding: 3px;
    padding-right: 10px;
    font-size: 8px;
    background-color: red;
}
.content-page-link-certfications{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    height: 8%;
    padding-right: 10px;
    padding-bottom: 4px;
    font-size: 8px;
    background-color: transparent;

}
/* -------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------- */
